body.modal-open {
    overflow: hidden;
}
.container, .container-fluid {
    max-width: 100vw;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}
/**/
/**/
/**/
/**/
.right-panel{
    position: fixed;
    top: 0;
    right: -420px;
    width: 420px;
    height: 100%;
    background: #fff;
    z-index: 1050;
    overflow-y: auto;
    transition: right 0.3s ease;
    border-left: 1px solid #dee2e6;
    box-shadow: -3px 0 10px rgba(0,0,0,0.1);
}
.right-panel.show {
    right: 0;
}
/**/
/**/
/**/
/**/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1049;
}
/**/
/**/
/**/
/**/
.detail-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.96);
    width: 70%;      /* desktop */
    max-width: 900px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
    z-index: 1060;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.detail-panel.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

@media (max-width: 767px) {
    .detail-panel {
        width: 90%;
        max-height: 90vh; /* limite de altura para scroll */
        overflow-y: auto; /* scroll vertical */
    }
}
